.random-planet {
  display: flex;
  margin-top: 5px;
  flex-direction: row;
  padding: 5px;
  margin-bottom: 3%;
}
.random-planet .planet-image {
  width: 20%;
  height: 20%;
  border-radius: 10px;
}
.random-planet .list-group-item {
  padding: 5px;
}
.random-planet .list-group-item .term {
  margin-right: 3px;
}
